body{
margin: 0px;
padding: 0px;
font-family: arial black;
color: black;
font-size: 7vmin;
background-color: white;
text-align: center;
}
.topbar {
  position: fixed;
  display: flex;
  flex-flow:column;
  text-align: left;
  padding-left: 7vmin;
  padding-top: 0vmin;
  font-size: 9vmin;
  line-height: .1vmin;
  }
.maincontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a{
  color: red;
}
.insetcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20vmin;
  margin-top: 5vmin;
  margin-right: 18vmin;
  margin-bottom: 5vmin;
  border-style: dashed;
  border-width: 1.5vmin;
}
.mondrian{
  display: flex;
  background-image: url(mondrian.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.UNKLE{
  display: flex;
  background-image: url(Unkle.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.Reese{
  display: flex;
  background-image: url(reese-forbes.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.quagmire{
  display: flex;
  background-image: url(quagmire.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.Stussy{
  display: flex;
  background-image: url(stussy.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.Newcastle{
  display: flex;
  background-image: url(newcastle.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.gibson{
  display: flex;
  background-image: url(gibson.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.twocolumncontainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.twocolumncontainer p{
  display: flex;
  width: 100%;
  font-size: .7em;
  line-height: 1.2em;
}
